.about .title {
    color: rgb(0, 200, 255);
}

.about .title::before {
    background-color: rgb(119, 229, 235);
}

.about .title::after {
    content: "Who I am";
    color: rgb(149, 193, 205);
}

.about .about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about .about-content .left {
    width: 45vh;
    display: flex;
    justify-content: center;
}

.about .about-content .left img {
    height: 370px;
    width: 370px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 0px 7px #b2ff9e;
    transition: all 0.3s ease;
}

.about .about-content .left img:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 18px #b2ff9e;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.about .about-content .right .text .line {
    display: none;
}

.about .about-content .right .text span {
    color: #95ffdf;
}

.about .about-content .right .paragraph {
    color: #ffffff;
    font-size: 18px;
}

.about .about-content .right .p {
    text-align: justify;
}

@media screen and (max-width: 1050px) {

    #about .about-content {
        flex-direction: column;
    }

    .about .about-content .right, .left {
        margin: 30px 0;
    }

    .about .about-content .right .text span {
        height: 1000px;
        font-size: 20px;
    }

    .about .about-content .right .text .line {
        display: block;
    }
}


@media screen and (max-width:500px) {

    #about .about-content .left  img {
        height: 400px;
        width: 80%;
    }

    #about .about-content {
        align-items: flex-start;
    }

    .about .about-content .right .text, .paragraph {
        position: relative;
        left: 2rem;
        width: 80vw;
    }

    .about .about-content .right .link {
        position: relative;
        left: 2rem;
    }

}