/* Education  */
#Education, #Experience {
    height: auto;
}

#Education img, #Experience img {
    margin: 20px;
    max-width: 300px;
    max-height: 500px;
    border-radius: 10px;
}

#Education .container, #Experience .container {
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 0 5px 10px rgb(139, 139, 139);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.175);
    margin: 60px 5% 50px 5%;
}



#Education .container h1, #Experience .container h1 {
    color: #29f878;
}

#Education .container ul li, #Experience .container ul li {
    align-items: center;
    list-style-type: none;
    color: #ffffff;
    font-weight: 400;
}


#Education .container .detail-container, #Experience .container .detail-container {
    margin: 30px;
}

#Education .detail-container .sub-title, #Experience .detail-container .sub-title {
    color: rgb(170, 213, 199);
}

@media screen and (max-width:600px) {
    #Education img, #Experience img {
        max-width: 250px;
    }

    #Education .container, #Experience .container {
        margin: 30px;
        justify-content: center;
        align-items: center;
    }
}