/* Home */


#home .container {
    display: flex;
    flex-wrap: wrap;
    /* height: 100vh; */
    color: white;
    /* min-height: 500px; */
    justify-content: space-around;
    /* align-items: center; */


}

#home .space {
    height: 300px;
}

#home .home-content {
    height: 300px;
}

#home .home-content .text-1 {
    font-size: 27px;
}

#home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

#home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

#home .home-content .text-3 span {
    color: #7fd8be;
    font-weight: 500;
}

#home .Cool-Photo {
    position: relative;
    left: -100px;
    top: -100px;
    margin-top: 50px;


}

#home .Cool-Photo img {
    -webkit-filter: drop-shadow(3px 3px 5px #33868a);
    filter: drop-shadow(3px 3px 5px #33868a);
    transition: .5s;
    box-shadow: none;
}

#home .Cool-Photo img:hover {
    -webkit-filter: drop-shadow(10px 10px 10px #33868a);
    filter: drop-shadow(10px 10px 10px #33868a);
    box-shadow: none;
    transform: none;
}

@media screen and (max-width:1300px) {
    #home .Cool-Photo {
        position: static;
    }
}

@media screen and (max-width:550px) {
    #home .home-content div {
        padding: 5px;
    }

    #home .home-content .text-2 {
        font-size: 52px;
    }

    #home .home-content .text-3 {
        font-size: 30px;
    }

}