.header {
    position: fixed;
    top: 0;
    display: flex;
    /* height: 100px; */
    width: 100%;
    background-color: rgba(255, 254, 254, 0.1);
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(12px);
    border-bottom: 2px solid rgba(255, 254, 254, 0.15);
    height: 75px;
}

.header #logo {
    /* position: fixed; */
    font-size: 25px;
    color: #a9f8fb;
    padding: 25px;
    font-weight: 600;
    cursor: default;
}

.header #marker {
    position: absolute;
    background-color: #81f7e5;
    bottom: 0px;
    height: 4px;
    width: 0;
    border-radius: 4px;
    transition: 0.5s;
}

.navbar a {
    margin-right: 35px;
    color: aqua;

}

.navbar a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header .responsible {
    display: none;
}



@media screen and (max-width : 1150px) {



    .navbar {
        display: none;
    }




    .header .responsible {
        display: block;
        position: relative;
        right: 0px;
        top: 0px;
        /* width: 50%; */
    }

    .header .responsible .navbar {
        position: fixed;
        display: flex;
        height: 300px;
        right: -500px;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column;
        width: calc(auto + 50px);
        border: 1px solid white;
        background-color: rgba(0, 0, 0, 0.794);
        color: white;
        transition: 0.5s;
    }

    .header .responsible .navbar-toggle {

        right: 00px;

    }



    #marker {
        display: none;
    }

    #logo {
        position: fixed;
        left: 0px;
        font-size: 20px;
    }

    i.fa-bars {
        display: block;
        position: fixed;
        color: white;
        font-size: 30px;
        z-index: 999;
        /* right: 30px; */
        top: 30px;
        transition: all .5s ease-out;
    }

    .xmark {
        display: block;
        position: absolute;
        color: white;
        font-size: 30px;
        left: 10px;
        z-index: 999;
        transition: all .5s ease-out;
    }



    .header {
        flex-direction: column;
        height: auto;
    }


    .none {
        display: none !important;

    }

}