@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "ubuntu" , sans-serif ;
}
html{
   scroll-behavior:smooth;
}


body{
    color: white;
    /* background-image: url(SRC/glowing-edges-hexagonal-texture.jpg); */
    background-color: #2b2c28;
}

.header{
    position: fixed;
    top: 0;
    display: flex;
    /* height: 100px; */
    width: 100%;
    background-color: rgba(255, 254, 254, 0.1);
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(8px) ;
    border-bottom: 2px solid rgba(255, 254, 254, 0.15);
} 

#logo{
    font-size: 25px;
    color: #a9f8fb;
    padding: 25px;
    font-weight: 600;
    cursor: default;
}

.header #marker{
    position: absolute;
    background-color: #81f7e5;
    bottom: 13px;
    height: 4px;
    width: 0;
    border-radius: 4px;
    transition: 0.5s; 
}

.navbar a{
    margin-right: 35px;
    color: aqua;

}

.navbar a:hover{
    color: rgb(255, 255, 255);
}



/* Home */

.home {
    display: flex;
    /* background-color: #0F171E; */
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .max-width .home-content{
    padding-top: 220px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: #7fd8be;
    font-weight: 500;
}

.Cool-Photo {
    position: relative;
    left: 100px;
    height: 100px;
    width:  100px;
}


section{
    padding: 120px 0;
    height: 100vh;
    padding-bottom: 300px;
}
.about, .services, .skills, .contact, footer{
    font-family: 'Poppins',sans-serif;
}
.about .about-content, .services .serv-content, .skills .skills-content, .contact, .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title{
    position: relative;
    text-align: center;
    color: #23b410;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 80px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: green;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -14px;
    left: 50%;
    font-size: 20px;
    color: #23b410;
    padding: 5px;
    background: black;
    transform: translateX(-50%);
}


/* About Section */

/* .about{
    background: linear-gradient(to bottom, #2b2c28 0%, #3b2a44 100%);
    background-size: 100vh;
} */
/* .about .max-width img{
    padding: auto 0 auto 50px;
} */
.about .title::after{
    content: "Who I am";
}
.about .about-content .left{
   width: 45%;
}
.about .about-content .left img{
    height: 370px;
    width: 370px;
    margin-left: 150px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 0px 7px #b2ff9e;
    transition: all 0.3s ease;
}
.about .about-content .left img:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 18px #b2ff9e;
}
.about .about-content .right{
    width: 55%;
 }
 .about .about-content .right .text{
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
 }
 .about .about-content .right .text span{
     color: #affc41;
 }
 .about .about-content .right .paragraph{
     color: #7ebf23;
     font-size: 18px;
 }
 .about .about-content .right .p{
     text-align: justify;
 }
 .about .about-content .right a{
    display: inline-block;
    background: none;
    color: #23b410;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 30px;
    border-radius: 6px;
    border: 2px solid #23b410;
    transition: all 0.3s ease;
 }
 .about .about-content .right a:hover{
     color: white;
     background:none;
 }
 




 /* Feedback */
 .feedback-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top : 40px;
    
 }

 .form-element{
    padding: 20px;
    padding-right: 0;
 }

 .form-element label{
    font-weight: 600;
    font-size: larger;
 }

 input , textarea{
    background-color: #ffffff41; 
    color: rgb(255, 255, 255);
    width: 70vh;
    height: 30px;
    padding: 15px;
    margin-top: 15px;
    /* margin-bottom: 20px; */
    
    
 }

 textarea{
    height: 80px;
 }

 input::placeholder , textarea::placeholder{
    color: rgba(255, 255, 255, 0.689);
 }


 /* star */

.rating{
    width: 220px;
    height: 40px;
    margin: 0 0 0 0; 
}
.rating label {
    float: right;
    width: 40px;
    height: 40px;
    cursor: pointer;
    
}
.rating label:before {
    content: "\2605";
    font-size: 35px;
    color: #ccc;
    /* line-height: 1; */
}
.rating input{
    display: none;
}
.rating input:checked ~ label:before, .rating:not(:checked) > label:hover:before, .rating:not(:checked) > label:hover ~ label:before {
    color: #ffb703;
}



/* Button */
 .btn{
    background-color: #23b410;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 30px;
    border-radius: 6px;
    border: 2px solid #23b410;
    transition: all 0.3s ease;
 }

 .btn:hover{
     color: white;
     background:none;
 }
